<%= form_with(model: tenant) do |form| %>
  <% if tenant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
        <% tenant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :levels, style: "display: block" %>
    <%= form.select :tenant_levels, options_from_collection_for_select(@levels, :id, :name, {selected: @tenant.tenant_levels.map(&:level_id)}), {}, {include_blank: false, size: 5, style: "width: 250px;"} %>
  </div>

  <div>
    <%= form.label :unit_no, style: "display: block" %>
    <%= form.text_field :unit_no %>
  </div>
  <div>
    <%= form.label :photo, style: "display: block"%>
    <%= form.file_field :photo %>
  </div>

  <div>
    <%= form.label :is_active, style: "display: block" %>
    <%= form.check_box :is_active %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
