<div id="<%= dom_id tenant %>">
  <p>
    <strong>Name:</strong>
    <%= tenant.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tenant.description %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= tenant.is_active %>
  </p>

  <p>
    <strong>Unit no:</strong>
    <%= tenant.unit_no %>
  </p>

</div>
